<%= form_with(model: company, local: true) do |form| %>
  <%= render 'shared/errors', obj: @company %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.button '<i class="fas fa-plus"></i> Create Company'.html_safe, class: "btn btn-outline-success btn-sm" %>
  </div>
<% end %>
