<!DOCTYPE html>
<html>
  <head>
    <title>Hrmanager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="container">
      <% unless controller_name == 'sessions' %> 
        <%= render 'layouts/navbar' %>
      <% end %>
    </div>
  </header>

  <body>
  	<div class="container">
		<div class="msg">
		  <%= render 'shared/messages' %>
		</div>
  	
      <%= yield %>

      
    </div>
  </body>
  <% unless controller_name == 'sessions' %> 
        <%= render 'layouts/footer' %>
    <% end %>


</html>
